// Tablet & Smaller
@media(max-width: 800px) {
  #header-home {
    height: 30rem;

    .header-content {
      padding-top: 5rem;
    }
  }
}

@media(max-width: 500px) {
  // Navigation
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      margin-top: 0.3rem;
    }
  }

  // Header
  #header {
    &-home {
      height: 20rem;

      .header-content {
        padding-top: 70px;

        h1 {
          font-size: 1.3rem;
        }

        p {
          font-size: 0.75rem;
        }

        .btn-light {
          display: none;
        }
      }
    }

    &-inner {
      height: 10rem;
    }
  }

  // Stack Grid Columns
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  #contact-b .contact-info,
  .items {
    grid-template-columns: 1fr;
  }

  // Home
  #home {
    &-a {
      .specials div {
        border-bottom: 1px $light-color solid;
        padding-bottom: 1rem;

        &:last-child {
          border: none;
          padding: 0;
        }
      }
    }

    &-c {
      .process div {
        border-bottom: 1px $light-color solid;
        padding-bottom: 1rem;

        &:last-child {
          border: none;
          padding: 0;
        }
      }
    }
  }

  // About
  #about {
    &-a {
      .about-info {
        grid-template-areas:
        'bioimage'
        'bio'
        'aw1'
        'aw2'
        'aw3';

        .award-1,
        .award-2,
        .award-3 {
          border-bottom: 1px $light-color solid;
          padding-bottom: 1rem;

          &:last-child {
            border: none;
            padding: 0;
          }
        }
      }
    }

    &-c {
      display: none;
    }
  }

  // Contact
  #contact {
    &-a {
      .text-field {
        grid-template-areas: 
        'name'
        'subject'
        'email'
        'phone'
        'message';
      }
    }

    &-b {
      .contact-info div {
        margin: 1rem;
        border-bottom: 1px #555 solid;
        padding-bottom: 1rem;

        &:last-child {
          border: none;
          padding: 0;
        }
      }
    }

    &-c {
      h1 {
        font-size: 1.6rem;
      }
    }
  }

  // Footer
  #main-footer {
    padding: 1rem;
    height: 7rem;

    .footer-content {
      flex-direction: column;
    }

    .social .fab {
      margin-top: 0.75rem;
    }
  }
}